Repository kubernetes-sigs/wg-device-management, pull requests merged in 2024-06, with the labels that each got.

#14 DRA API evolution
  dra-evolution/README.md
  dra-evolution/cmd/gen/main.go
  dra-evolution/cmd/mock-apiserver/main.go
  dra-evolution/go.mod
  dra-evolution/go.sum
  dra-evolution/open-questions.md
  dra-evolution/pkg/api/capacity_types.go
  dra-evolution/pkg/api/claim_types.go
  dra-evolution/pkg/api/pod_types.go
  dra-evolution/pkg/api/quota_types.go
  dra-evolution/pkg/api/register.go
  dra-evolution/pkg/gen/gen.go
  dra-evolution/pkg/gen/nvidia.go
  dra-evolution/pkg/schedule/cel.go
  dra-evolution/pkg/schedule/cel_test.go
  dra-evolution/pkg/schedule/compile.go
  dra-evolution/pkg/schedule/compile_test.go
  dra-evolution/pkg/schedule/semver.go
  dra-evolution/pkg/schedule/semver_test.go
  dra-evolution/pkg/schedule/semverlib.go
  dra-evolution/testdata/classes.yaml
  dra-evolution/testdata/parse_test.go
  dra-evolution/testdata/pod-multi-net-0.yaml
  dra-evolution/testdata/pod-multi-net-1.yaml
  dra-evolution/testdata/pod-multi-net-2.yaml
  dra-evolution/testdata/pod-multi-net-3.yaml
  dra-evolution/testdata/pod-multi-net-5.yaml
  dra-evolution/testdata/pod-one-container-gpu-priority-list-one-vf.yaml
  dra-evolution/testdata/pod-one-container-gpu-priority-list.yaml
  dra-evolution/testdata/pod-one-container-one-gpu-one-vf.yaml
  dra-evolution/testdata/pod-one-container-one-gpu.yaml
  dra-evolution/testdata/pod-one-container-partial-gpu.yaml
  dra-evolution/testdata/pod-one-container-shared-split-allocation-gpus.yaml
  dra-evolution/testdata/pod-one-container-split-allocation-gpus.yaml
  dra-evolution/testdata/pod-one-container-two-gpus-0.yaml
  dra-evolution/testdata/pod-one-container-two-gpus-1.yaml
  dra-evolution/testdata/pod-one-container-two-gpus-2.yaml
  dra-evolution/testdata/pod-two-containers-one-gpu.yaml
  dra-evolution/testdata/pod-two-containers-two-gpus-0.yaml
  dra-evolution/testdata/pod-two-containers-two-gpus-1.yaml
  dra-evolution/testdata/pod-two-containers-two-gpus-2.yaml
  dra-evolution/testdata/podspec.go
  dra-evolution/testdata/pools-one-node-sriov-0.yaml
  dra-evolution/testdata/pools-one-node-sriov-1.yaml
  dra-evolution/testdata/pools-two-nodes-two-simple-gpus.yaml
  dra-evolution/testdata/two-pods-one-gpu-0.yaml
  dra-evolution/testdata/two-pods-one-gpu-1.yaml
  k8srm-prototype/README.md
Labels: lgtm, size/XXL, cncf-cla: yes, approved

#25 dra-evolution: make request name mandatory
  dra-evolution/pkg/api/claim_types.go
Labels: size/S, cncf-cla: yes, approved

#33 Revert changes from PR 29
  dra-evolution/pkg/api/capacity_types.go
  dra-evolution/pkg/api/claim_types.go
  dra-evolution/pkg/api/pod_types.go
  dra-evolution/pkg/gen/nvidia.go
  dra-evolution/testdata/pools-two-nodes-dgxa100.yaml
Labels: cncf-cla: yes, approved

#27 Minimal changes for partitionable devices in DRA evolution prototype
  dra-evolution/pkg/gen/nvidia.go
  dra-evolution/testdata/pools-two-nodes-dgxa100.yaml
Labels: size/XXL, cncf-cla: yes, approved
